h1 {
    display: inline-block;
}
#logo {
    width: 300px;
    height: auto;
    position: relative;
    margin:auto;
    z-index: -1;
}
.headline {
    text-align: center;
    font-family: Rexton Light, sans-serif;
}

/* NAVBAR FORMATTING */
#navbar {
    font-family: Rexton Light, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
    float: left;
    text-align: left;
    position: sticky;
}
.navbar {
    display: block;
    width: 260px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}
/* INDEX PAGE FORMATTING */
.index {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    z-index: 1;
    margin: auto;
}
/* BLOG PAGE FORMATTING */
.blog_post, .blog_title, .blog_subheading {
    display: flex;
    align-content:flex-start;
    flex-flow: row wrap;
    margin-left: 300px;
}
.blog_title {
    font-family: Rexton Light, sans-serif;
}
.blog_post {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bullet_points {
    margin-left: 300px;
    padding: 10px;
    flex-wrap: wrap;
}