* {
    background-color: #F9F6EE;
}

header {
    display: block;
    background-color: black;
    width: 100%;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#logo {
    display: flex;
    width: 300px;
    height: auto;
    margin: auto;
    background-color: black;
    border-radius: 4%;
}

.headline {
    position: relative;
    text-align: center;
    font-family: Rexton Light, sans-serif;
}

iframe {
    display: block;
}

section {
    margin-left: 300px;
}

/* NAVBAR FORMATTING */
#navbar {
    font-family: Rexton Light, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;
    float: left;
    text-align: left;
    position: sticky;
}

.navbar {
    display: block;
    width: 260px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

/* INDEX PAGE FORMATTING */
.index {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    margin-left: 300px;
}

/* ABOUT PAGE */
.educational_background,
.about_subheader,
.about_title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* BLOG PAGE FORMATTING */
article {
    display: block;
    align-content: flex-start;
    flex-flow: row wrap;
    margin-left: 300px;
}

.blog_title,
.blog_post,
.about_bullet_points,
.blog_subheader {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about_bullet_points {
    margin-left: 300px;
}

/* MUSIC PAGE FORMATTING */

.youtube {
    float: right;
}